manifest.version = '0.1.0'
params.version = manifest.version

profiles {
  standard {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 20

      withName: run_check_samplesheet {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '16 GB'
      }

      withName: run_bclconvert {
        module = 'modules:modules-init:modules-gs:bcl-convert/4.2.7'
        clusterOptions = '-pe serial 12 -l mfree=4G -l cpuid_level=22'
      }

      withName: run_rna_rtlig_demux {
        cpus = 3
        memory = '8 GB'
        penv = 'serial'
      }

    } // end of process
  }  // end of standard profile

}  // end of profiles
